@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@400;500;600;700&display=swap');

$radius: 75px;
$count-color: #49dd8b;

* {

  box-sizing: border-box;

}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 0;
  margin: 0 auto;
  max-width: 1700px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}


.container {
  margin: 0 130px;
}

.welcome {

  font-family: Poppins, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0;
  text-align: center;
  color: white;

  background-image: url("./wallpaper.jpeg");
  background-position: center;
  background-size: cover;

  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;

  .gradient-effect {

    text-shadow: 0 4px 10px #0A082785;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;

  }

  h1 {

    padding: 35px 0;
    margin: 0 auto;
    text-align: center;
    font-size: 35px;

  }

}

.explain {

  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px 0;
  gap: 10px;

  p {

    font-family: Inter, sans-serif;
    margin: 5px;

  }

}

.servers {

  display: flex;
  flex-direction: column;
  gap: 50px;

  .server {

    background-color: #fff;
    padding: 20px 30px;
    border-radius: 25px;
    box-shadow: 0 4px 10.1000003815px 0 rgb(10 8 39 / 40%);

    .top {

      width: 100%;
      border-bottom: 2px solid #efeeee;
      margin-bottom: 28px;

      h2 {

        font-size: 10px;

      }

    }

    .head {

      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      padding: 15px 0;

      .logo {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        img {

          max-width: 50%;

        }

        label {

          position: relative;

          display: flex;
          align-items: center;
          gap: 5px;
          flex-direction: column;

          a {

            font-size: 10px;

          }

          button {

            position: relative;
            border: none;
            border-radius: 150px;
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            font-family: Poppins, sans-serif;
            text-align: center;
            font-weight: 600;
            padding: 12px 25px;
            cursor: pointer;
            transition: transform 0.3s;
            background: linear-gradient(90.09deg, #3D67FF -46.05%, #51FFEA 99.92%);

            &:hover {

              transform: scale(1.05);

            }

            .player {

              font-size: 9px;
              color: #fff;
              font-weight: 700;

              span {

                color: #fff;
                margin-left: 20px;

              }

            }

          }

          * {
            text-align: center;
          }

        }

      }

      h3 {

        display: none;
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;

      }

      .banner {

        display: flex;
        flex-direction: column;
        gap: 20px;

        img {
          width: 100%;
        }

        ul {

          display: flex;
          justify-content: space-around;

        }

      }



    }

  }

}

footer {

  display: block;

  margin-top: 100px;

  background-image: url("./wallpaper.jpeg");
  background-position: center;
  background-size: cover;

  border-top-left-radius: $radius;
  border-top-right-radius: $radius;

  font-family: Poppins, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;

  .gradient-effect {

    text-shadow: 0 4px 10px #0A082785;
    background-color: rgba(0, 0, 0, 0.2);

    border-top-left-radius: $radius;
    border-top-right-radius: $radius;

  }

  a {

    display: block;
    padding: 50px 0;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-decoration: none;

  }

}

*[data-playercounter-ip] {

  color: $count-color;
  font-weight: 700;
  position: relative;

  &:before, &:after {

    content: " ";
    position: absolute;
    left: -16px;
    top: 2px;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background-color: $count-color;

  }

  &:after {
    animation: pulse 2s infinite;
  }

  @keyframes pulse {

    0% {
      transform: scale(0.5);
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    100% {
      transform: scale(2.5);
      opacity: 0;
    }

  }
}

notification {

  transition: opacity 0.5s;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107px;
  height: 35px;
  text-align: center;
  color: #fff;
  position: absolute;
  background-color: #49dd8b;
  z-index: 1000;
  border-radius: 50px;
  font-size: 16px;
  bottom: -20px;
  animation: notification 0.5s;

  @keyframes notification {
    0% {
      bottom: -50px;
      opacity: 0.5;
    }
    100% {
      bottom: -20px;
      opacity: 1;
    }
  }

}

@media (max-width: 980px) {
  .container {
    margin: 0 25px;
  }
  .servers .server .head {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}